body {
    width: 100vw;
    min-height: 100vh;
}

.content {
    background-color: lightgray;
    height: 95vh;
}

.information {
    background-color: white;
    text-align: center;
    border: 2px solid black;
    height: 5vh;
}

a.navbar-brand {
    font-size: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.flexbox {
    align-items: center;
    display: flex;
    justify-content: center;
}