body {
    width: 100vw;
    min-height: 100vh;
}

.content {
    background-color: grey;
    height: 95vh;
}

.information {
    background-color: white;
    text-align: center;
    border: 2px solid black;
    height: 5vh;
}

a.navbar-brand {
    font-size: 10px;
}